.ui-widget {
	font-size: 1.3em !important;
	user-select: none;
}

.ui-corner-all {
	border-radius: 0px !important;
}

.ui-widget-header {
	border: none !important;
	background: none !important;
	color: #fff !important;
}

.ui-widget-overlay {
	background: #111 !important;
	opacity: .5 !important;
}

.ui-widget-content {
	border:  none !important;
	background: #333 !important;
	color: #fff !important;
}

.ui-button {
	border: none !important;
	background-color: #222 !important;
	color: white !important;
}

.index-dialog-clear {
	background-color: red !important;
}

.ui-button:hover {
	background-color: #444 !important;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}